<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>cssRemoveUnusedSelectors</name>
  <type>edit</type>
  <author>Francesco Martini</author>
  <description>Removes unused selectors and rules from css.</description>
  <engine>python3.4</engine>
  <version>0.4.0</version>
  <autostart>true</autostart>
  <autoclose>true</autoclose>
  <oslist>osx,unx,win</oslist>
</plugin>
