<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>cssRemoveUnusedSelectors</name>
  <type>edit</type>
  <author>Francesco Martini</author>
  <description>Removes from all css files all unused selectors and rules.
    Raises a warning if encounters errors in parsing css files.</description>
  <engine>python3.4</engine>
  <version>0.1.0</version>
  <autostart>true</autostart>
  <autoclose>true</autoclose>
  <oslist>osx,unx,win</oslist>
</plugin>
